<div class="example-container">
    <form class="example-form" [formGroup]="ciudadanoForm" (ngSubmit)="saveCiudadano()">

        <mat-form-field appearance="fill">
            <mat-label>ID</mat-label>
            <input matInput formControlName="id">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Nombre" formControlName="nombre">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Apellidos</mat-label>
            <input matInput placeholder="Apellidos" formControlName="apellidos">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Tipo Identificación </mat-label>
            <mat-select formControlName="tipoIdentificacionId">
                <mat-option value="2">Cédula de Ciudadania</mat-option>
                <mat-option value="3">Tarjeta de Identidad</mat-option>
                <mat-option value="4">Cédula de Extranjeria</mat-option>
                <mat-option value="5">Registro Civil</mat-option>
                <mat-option value="6">Pasaporte</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Documento Identidad</mat-label>
            <input matInput placeholder="Documento Identidad" formControlName="documentoIdentidad">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Direccion</mat-label>
            <input matInput placeholder="Direccion" formControlName="direccion">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Ciudad</mat-label>
            <mat-select formControlName="ciudadId">
                <mat-option value="1">Bogotá</mat-option>
                <mat-option value="2">Cali</mat-option>
                <mat-option value="3">Medellín</mat-option>
                <mat-option value="4">Barranquilla</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Celular</mat-label>
            <input matInput placeholder="Celular" formControlName="celular">
        </mat-form-field>




        <mat-checkbox formControlName="aceptaPolitica">Acepta politica</mat-checkbox>

        <div class="example-button-row" style="padding: 1%">
            <button mat-raised-button color="primary">Guardar</button> |
            <a mat-raised-button color="accent" (click)="redirectToCitasList()">Cerrar</a>
        </div>
    </form>
</div>